[Desktop Entry]
Type=Application
Name=Mint Power Enhancer
Comment=Standalone power profile control app
Exec=mint-power-enhancer-app
Icon=battery
Terminal=false
Categories=Settings;
Keywords=battery;power;saver;performance;mint;
